.jumbotron {
    background-color: gainsboro;
}

.site-footer {
    background-color: gainsboro;
}

h1, h5, h6 {
    font-family: "Libre Baskerville", sans-serif;
}

body {
    font-family:  serif, system-ui; 
}